.DS_Store
*.pyc
*.zip
__pycache__/
**/.ipynb_checkpoints/
**/datasets/
**/mlruns/
/.idea/
/.vscode/
/.mypy_cache/
/.pytest_cache/
/.artifacts/
/htmlcov/
/_logs/
/build/
/dist/
/carefree_core.egg-info/
/pip-wheel-metadata/
/data/
/examples/tmp/
/tests/test_learn/_ddp/
/.coverage
/.coverage.*
/coverage.xml
/plans*.md
