.idea/*
.mypy_cache/*
.pytest_cache/*
.artifacts/*
/plans*.md
.coverage
.coverage.*
coverage.xml
.DS_Store
*.pyc
.vscode/*
_*/
build/*
carefree_core.egg-info
pip-wheel-metadata
**/.ipynb_checkpoints/*
dist/*
**/mlruns/*
*.zip
data/*
**/datasets
examples/tmp
